
version: "3.9"

services:
  db:
    image: postgres:15
    container_name: ladyb_app_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: ladyb_lux_event
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: ladyb_app_backend
    restart: unless-stopped
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql://user:password@localhost:5432/ladyb_lux_event
      JWT_SECRET: your_super_secret_jwt_key_here_change_in_production
      PAYSTACK_SECRET: sk_live_your_paystack_secret_key
      PAYSTACK_PUBLIC_KEY: pk_live_your_paystack_public_key
      NODE_ENV: production
    ports:
      - "3001:3001"
  
    
    command: >
      sh -c "npx prisma migrate deploy &&
             npm run start:prod"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: ladyb_app_frontend
    restart: always
    depends_on:
      - backend
    environment:
      NEXT_PUBLIC_API_URL: http://localhost:3001
      NODE_ENV: production
    ports:
      - "3000:3000"

volumes:
  postgres_data:
